<div class="mt-5 text-center">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Welcome to the Dashboard</h1>
    <h2 class="text-3xl text-white">{{userFirstName}}</h2>
</div>
<div class="flex justify-center dashboard-container mt-3">
    <app-card-with-link
            [cardBodyText]="'Manage your existing Properties'"
            [cardButtonTargetLink]="rebaseRoutePath(RoutePaths.PROPERTIES_MANAGE)"
            [cardButtonText]="'Manage Properties'"
            [cardHeaderText]="'Navigation'"
            [cardTitle]="'Manage Properties'"
            class="dashboard-card min-w-full animate__animated animate__bounceInUp animate__faster"
    />
    <app-card-with-link
            [cardBodyText]="'Create a new Property'"
            [cardButtonTargetLink]="rebaseRoutePath(RoutePaths.PROPERTIES_CREATE)"
            [cardButtonText]="'Create Property'"
            [cardHeaderText]="'Navigation'"
            [cardTitle]="'Create Property'"
            class="dashboard-card min-w-full animate__animated animate__bounceInUp animate__fast"
    />
    <app-card-with-link
            [cardBodyText]="'Manage your user Account'"
            [cardButtonTargetLink]="rebaseRoutePath(RoutePaths.ACCOUNT_MANAGE)"
            [cardButtonText]="'Manage Account'"
            [cardHeaderText]="'Navigation'"
            [cardTitle]="'Manage Account'"
            class="dashboard-card min-w-full animate__animated animate__bounceInUp"
    />
</div>
