<section class="container flex justify-center mt-10">
  <div class="card border-dark-subtle text-center mb-10 bg-[#133247] animate__animated animate__zoomInDown animate__faster"
       style="width: 36rem;">
    <div class="card-body">
      <div class="flex justify-center text-center items-center pt-10">
        <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" href="#">
          <img [ngSrc]="'favicon.ico'" alt="logo" class="w-8 h-8 mr-2" height="32" priority width="32">
          Split
        </a>
      </div>
      <div class="flex justify-center items-center mt-2.5 mb-3.5">
        <form (ngSubmit)="doCreateExpense()" autocomplete="off">
          <div class="row mt-2 mx-2">
            <mat-form-field class="max-w-full">
              <mat-label>Name:</mat-label>
              <input [(ngModel)]="name" class="form-control" matInput name="name" placeholder="Expense Name" type="text"/>
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div class="row mt-2 mx-2">
            <mat-form-field>
              <mat-label>Currency</mat-label>
              <mat-select [(ngModel)]="currencyCode" name="currencyCode" required>
                <mat-option>--</mat-option>
                @for (currencyCode of validCurrencies; track $index) {
                  <mat-option [value]="currencyCode">{{currencyCode}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row mt-2 mx-2">
            <mat-form-field class="max-w-full">
              <mat-label>Amount:</mat-label>
              <span matPrefix>{{currencyCode}} &nbsp;</span>
              <input [(ngModel)]="amount" class="form-control" id="amountInput" matInput name="amount" placeholder="0.00" type="number">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div class="flex justify-center mt-3">
            <button class="flex items-center px-4 py-2 border border-slate-200 rounded-lg text-white" type="submit">Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
