<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="flex justify-center text-center items-center pt-10">
        <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" href="#">
          <img alt="logo" class="w-8 h-8 mr-2" height="32" [ngSrc]="'favicon.ico'" width="32">
          Split
        </a>
      </div>
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign in to your account
        </h1>
        <form (ngSubmit)="doLogin()" class="space-y-4 md:space-y-6">
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="username">E-mail</label>
            <input [(ngModel)]="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="username" name="username" placeholder="user@mail.com" required type="email">
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="password">Password</label>
            <input [(ngModel)]="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="password" name="password" placeholder="Password" required type="password">
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
            </div>
            <a class="text-sm font-medium text-white text-primary-600 hover:underline dark:text-primary-500" routerLink="/reset-password">Forgot password?</a>
          </div>
          <button class="w-full text-white bg-primary-600 border-2 hover:bg-primary-700 focus:ring-4 focus:outline-none ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit">Sign In</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet? <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" routerLink="/register">Sign up</a>
          </p>
        </form>
        <div class="flex justify-center items-center">
          <button (click)="doGoogleLogin()" class="flex items-center px-4 py-2 border border-slate-200 rounded-lg text-white hover:border-slate-400 hover:text-slate-900 hover:shadow transition duration-150">
            <img [ngSrc]="'assets/google-color.svg'" alt="Google logo" class="w-6 h-6" height="100" width="100">
            <span class="ml-2">Login with Google</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
