@use '@angular/material' as mat;

@include mat.core();

@import 'themes';

$split-ui-primary: mat.define-palette(mat.$indigo-palette);
$split-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$split-ui-warn: mat.define-palette(mat.$red-palette);
$split-ui-dark-primary: mat.define-palette(mat.$blue-gray-palette, A200);
$split-typography-level: mat.define-typography-level(
  $font-family: Inter,
  $font-weight: 600,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);
$h1-typography-level: mat.define-typography-level(
  $font-family: Inter,
  $font-weight: 700,
  $font-size: 1.25rem,
  $line-height: 1,
  $letter-spacing: normal,
);
$split-ui-typography: mat.define-typography-config(
  $font-family: 'Inter',
  $body-1: $split-typography-level,
  $body-2: $split-typography-level,
  $headline-1: $h1-typography-level,
);

$split-ui-theme: mat.define-light-theme((
  color: (
    primary: $split-ui-primary,
    accent: $split-ui-accent,
    warn: $split-ui-warn,
  ),
  typography: $split-ui-typography,
));

@include mat.all-component-themes($split-ui-theme);
@include mat.typography-hierarchy($split-ui-typography);

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, serif !important;
  background-color: var(--body-content-background-color);
}
