// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$split-ui-primary: mat.define-palette(mat.$indigo-palette);
$split-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$split-ui-warn: mat.define-palette(mat.$red-palette);
$split-ui-dark-primary: mat.define-palette(mat.$blue-gray-palette, A200);

$split-ui-theme: mat.define-light-theme((
  color: (
    primary: $split-ui-primary,
    accent: $split-ui-accent,
    warn: $split-ui-warn,
  )
));

$split-ui-theme: mat.define-dark-theme((
  color: (
    primary: $split-ui-dark-primary,
    accent: $split-ui-accent,
    warn: $split-ui-warn,
  )
));

@include mat.all-component-themes($split-ui-theme);

@import 'themes';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, serif;
  background-color: var(--body-content-background-color);
}
