<div class="w-full bg-gray-200 dark:bg-gray-900 py-10">
    <div class="container mx-auto px-6 flex items-center justify-center">
        <h1 *ngIf="!isLoadingMap.get(organizationIsLoadingKey)"
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{{organization.name}}</h1>
    </div>
    <app-loading-spinner *ngIf="isLoadingMap.get(organizationIsLoadingKey)"
                         class="flex justify-center pt-5"></app-loading-spinner>
    <app-loading-spinner *ngIf="isLoadingMap.get(productsIsLoadingKey)"
                         class="flex justify-center pt-10"></app-loading-spinner>
    <div class="container mx-auto px-6 flex items-center justify-center py-10">
    </div>
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <ng-container *ngIf="!isLoadingMap.get(productsIsLoadingKey)">
                <div *ngIf="products.length === 0 && !isLoadingMap.get(productsIsLoadingKey)">
                    <h3 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                        No products currently available from {{organization.name}}</h3>
                </div>
                <div *ngFor="let product of products">
                    <app-product-with-image
                            [productImageUrl]="'https://picsum.photos/200'"
                            [productName]="product.name"
                    ></app-product-with-image>
                </div>
            </ng-container>
        </div>
    </div>
</div>
