<div class="mt-10">
  <app-landing-page-splash-text class="animate__animated animate__bounceInDown" />
</div>
<div class="container max-w-7xl mx-auto">
  <div class="text-center mb-5">
    <h3 class="text-2xl sm:text-2xl">Using this free service, you and your housemates/roommates can manage and track your shared living expenses collaboratively!</h3>
  </div>
  <div class="animate__animated animate__bounceInUp">
    <app-card-with-icon
      [cardIconHeight]="512"
      [cardIconPath]="'assets/cloud-icon.svg'"
      [cardIconWidth]="464"
      [cardText]="'Work collaboratively with housemates/roommates to track shared living expenses in the cloud.'"
      [cardTitle]="'Cloud-Hosted'"
      class="x-10" />
  </div>
  <div class="mt-5 animate__animated animate__bounceInUp animate__slow">
    <app-card-with-icon
      [cardIconHeight]="150"
      [cardIconPath]="'assets/smartphone.svg'"
      [cardIconWidth]="75"
      [cardText]="'Platform is accessible from devices of all screen-sizes.'"
      [cardTitle]="'Responsive Design'"
      class="x-10" />
  </div>
  <div class="mt-5 animate__animated animate__bounceInUp animate__slower">
    <app-card-with-icon
      [cardIconHeight]="100"
      [cardIconPath]="'assets/lock-icon.svg'"
      [cardIconWidth]="100"
      [cardText]="'You control who has access to your data.'"
      [cardTitle]="'Secure'"
      class="x-10" />
  </div>
</div>
