<section class="container flex justify-center mt-10">
  <div class="card border-dark-subtle text-center animate__animated animate__bounceInUp bg-[#133247]" style="width: 36rem;">
    <div class="card-body">
      <div class="flex justify-center text-center items-center pt-10">
        <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" href="#">
          <img [ngSrc]="'favicon.ico'" alt="logo" class="w-8 h-8 mr-2" height="32" width="32">
          Split
        </a>
      </div>
      <div class="flex justify-center items-center mt-2.5 mb-3.5">
        <button (click)="doGoogleLogin()" class="flex items-center px-4 py-2 border border-slate-200 rounded-lg text-white">
          <img [ngSrc]="'assets/google-color.svg'" alt="Google logo" class="w-6 h-6" height="100" width="100">
          <span class="ml-2">Login with Google</span>
        </button>
      </div>
      <div class="flex justify-center mb-3.5">
        <p class="text-white italic">By logging in with Google you agree to the <a class="underline italic" href="https://github.com/jonathan-lee-devel/sparrow/blob/main/LICENSE">Terms and Conditions</a></p>
      </div>
    </div>
  </div>
</section>
