<section class="container flex justify-center mt-10">
  <div class="card border-dark-subtle text-center bg-[#133247]" style="width: 36rem;">
    <div class="card-body">
      <div class="flex justify-center text-center items-center pt-10 animate__animated animate__zoomIn">
        <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" href="#">
          <img [ngSrc]="'favicon.ico'" alt="logo" class="w-8 h-8 mr-2" height="32" width="32">
          Split
        </a>
      </div>
      <div class="flex justify-center items-center mt-2.5 mb-3.5">
        <button (click)="doGoogleLogin()" class="flex items-center px-4 py-2 border border-slate-200 rounded-lg text-white">
          <img [ngSrc]="'assets/google-color.svg'" alt="Google logo" class="w-6 h-6" height="100" width="100">
          <span class="ml-2">Login with Google</span>
        </button>
      </div>
      <div class="flex justify-center mb-3.5">
        <p class="text-white italic">By logging in with Google you agree to the <a class="underline italic" href="https://github.com/jonathan-lee-devel/sparrow/blob/main/LICENSE">Terms and Conditions</a></p>
      </div>
      <div class="flex justify-center items-center mt-2.5 mb-3.5">
        <form (ngSubmit)="doRegister()">
          <div class="row mt-2">
            <label class="form-label text-white" for="emailInput">E-mail Address:</label>
            <input [(ngModel)]="email" class="form-control" id="emailInput" name="email"
                   placeholder="user@example.com" type="email"/>
          </div>
          <div class="row mt-2">
            <label class="form-label text-white" for="firstNameInput">First Name:</label>
            <input [(ngModel)]="firstName" class="form-control" id="firstNameInput" name="firstName"
                   placeholder="First Name" type="text"/>
          </div>
          <div class="row mt-2">
            <label class="form-label text-white" for="lastNameInput">Last Name:</label>
            <input [(ngModel)]="lastName" class="form-control" id="lastNameInput" name="lastName"
                   placeholder="Last Name" type="text"/>
          </div>
          <div class="row mt-2">
            <label class="form-label text-white" for="passwordInput">Password:</label>
            <input [(ngModel)]="password" class="form-control" id="passwordInput" name="password"
                   placeholder="Password" type="password"/>
          </div>
          <div class="row mt-2">
            <label class="form-label text-white" for="passwordInput">Confirm Password:</label>
            <input [(ngModel)]="confirmPassword" class="form-control" id="confirmPasswordInput" name="confirmPassword"
                   placeholder="Confirm Password" type="password"/>
          </div>
          <div class="row mt-4">
            <div class="form-check">
              <label class="form-check-label text-white" for="acceptTermsAndConditions">
                Accept <a class="underline italic"
                          href="https://github.com/jonathan-lee-devel/split/blob/main/LICENSE">Terms
                and Conditions</a>
              </label>
              <input [(ngModel)]="acceptTermsAndConditions" class="form-check-input" id="acceptTermsAndConditions" name="acceptTermsAndConditions" type="checkbox" value="">
            </div>
          </div>
          <div class="flex justify-center mt-3">
            <button class="flex items-center px-4 py-2 border border-slate-200 rounded-lg text-white" type="submit">              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
