<div class="flex justify-center mx-auto dashboard-container animate__animated animate__bounceInUp">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Welcome to the Dashboard</h1>
<!--    <app-card-with-link-->
<!--            class="animate__animated animate__bounceInUp animate__fast"-->
<!--            [linkDescription]="'Here you can manage properties where you are an administrator and/or a tenant.'"-->
<!--            [linkDestination]="'/properties/manage'"-->
<!--            [linkText]="'Manage Properties'"-->
<!--            [linkTitle]="'Manage Existing Properties'" />-->
<!--    <app-card-with-link-->
<!--            class="animate__animated animate__bounceInUp animate__slow"-->
<!--            [linkDescription]="'Here you can create a new property which you and anyone you add as an administrator will control.'"-->
<!--            [linkDestination]="'/properties/create'"-->
<!--            [linkText]="'Create Property'"-->
<!--            [linkTitle]="'Create a Property'" />-->
<!--    <app-card-with-link-->
<!--            class="animate__animated animate__bounceInUp animate__slower"-->
<!--            [linkDescription]="'Soon this page will allow you to manage your user account settings.'"-->
<!--            [linkDestination]="'/account/manage'"-->
<!--            [linkText]="'Manage User Account'"-->
<!--            [linkTitle]="'Manage your User Account'" />-->
</div>
