<div class="animate__animated animate__bounceInUp">
    <div class="flex justify-center text-center animate__animated animate__faster animate__bounceInUp">
        <h1 class="text-3xl mt-10">Google Login in Progress&period;</h1>
    </div>
    <div class="flex justify-center animate__animated animate__fast animate__bounceInUp">
        <h2 class="text-2xl mt-10 italic">You will be redirected shortly&period;&period;&period;</h2>
    </div>
    <div>
        <app-loading-spinner class="flex justify-center pt-10 animate__animated animate__bounceInUp" />
    </div>
</div>
