<section class="container flex justify-center mt-10">
    <div class="card border-dark-subtle text-center animate__animated animate__bounceInUp bg-[#133247]" style="width: 36rem;">
        <div class="card-body">
            <div class="flex justify-center text-center items-center pt-10">
                <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" href="#">
                    <img [ngSrc]="'favicon.ico'" alt="logo" class="w-8 h-8 mr-2" height="32" priority width="32">
                    Split
                </a>
            </div>
            <div class="flex justify-center text-center items-center mt-10">
                <h2 class="text-white text-3xl">Welcome to Split.Direct</h2>
            </div>
            <div class="flex justify-center text-center items-center mt-10 pb-10">
                <h5 class="text-white text-2xl">A cloud-hosted open-source application which allows you to collaboratively track expenses in the cloud.</h5>
            </div>
            <div class="flex justify-center text-center items-center">
                <img [ngSrc]="'assets/cloud-icon.svg'" class="w-32 h-32" height="32" priority width="32">
            </div>
            <div class="flex justify-center text-center items-center mt-10 pb-10">
                <h5 class="text-white text-2xl">This application is <span class="underline">free</span> to use!</h5>
            </div>
            <div class="flex justify-center text-center items-center mt-10 pb-10">
                <p class="text-white italic">Use the navbar buttons up above to create an account or log in</p>
            </div>
        </div>
    </div>
</section>
